.color-btn {
    background-color: white;
    border: 1px solid black;
    padding: 8px 16px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.color-btn:hover {
    background-color: black;
    color: white;
}


#sizeSelect {

    width: 10%;
    padding: 5px;
}

input #quantityInput .form-control {
    width: 30px;
    padding: 8px;
}



#minusBtn,
#plusBtn {
    padding: 6px 12px;
}




.add-to-cart {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-to-cart:hover {
    background-color: gray;
    color: black;
}

.shipping-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: #ccc;
    border-radius: 15px; */
}


.shipping-list li {
    width: calc(33.33% - 10px);
    /* 33.33% width for each item with margin */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
}

.shipping-list li i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #333;
}

.product-content {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.product-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.product-content li {
    margin-bottom: 10px;
}

.product-content-wrapper {
    position: relative;
    padding-left: 20px;
}

.product-content-wrapper::before {
    content: "\f058"; /* Mã Unicode của biểu tượng vuông đỏ trong Font Awesome */
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    color: red;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}